<div class="w-100 mx-auto" data-aos="fade-right">
  <div class="col-12">
    <div class="banner">
      <img src="assets/img/banner.png" alt="Iglesia de Santa Ana" class="img-fluid mx-auto d-block">
    </div>
  </div>
</div>

<div class="container p-5" data-aos="fade-up">
  <div class="row">
    <div class="col-md-3 col-6 d-flex align-items-center justify-content-center">
      <div class="icon-info">
        <h3>3450 Km</h3>
        <span>Extensión</span>
      </div>
    </div>

    <div class="col-md-3 col-6 d-flex align-items-center justify-content-center">
      <div class="icon-info">
        <h3>
          <i class="fa fa-cloud"></i>
        </h3>
        <span>Clima</span>
      </div>
    </div>

    <div class="col-md-3 col-md-3 col-6 d-flex align-items-center justify-content-center">
      <div class="icon-info">
        <h3>1901</h3>
        <span>Año de fundación</span>
      </div>
    </div>

    <div class="col-md-3 col-md-3 col-6 d-flex align-items-center justify-content-center">
      <div class="icon-info">
        <h3>4950</h3>
        <span>Población</span>
      </div>
    </div>
  </div>
</div>

<div class="w-100 p-5" id="welcome" data-aos="fade-up">
  <h3 class="text-center">
    Bienvenido a la parroquia Santa Ana
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 text-center">
        <img src="assets/img/alcalde.png" alt="Sr. Alcalde" class="img-fluid">
      </div>
      <div class="col-xs-12 col-md-9">
        <p class="text-justify">
          En estos nuevos tiempos exigen nuevas formas de comunicar, ponemos a consideración de todos; nuestra página
          web para la publicación de sitios de turismo que ofrece la parroquia de Santa Ana y el Gobierno Parroquial, en
          un proceso participativo a través del cual se ha estudiado y descifrado nuestra realidad actual para luego
          trazar el rumbo que debemos seguir en procura de alcanzar los grandes objetivos que definen nuestras
          aspiraciones de desarrollo.
        </p>
        <p class="text-justify">
          Después de haber concluido exitosamente el proceso de planificación y luego de contar con la validación con la
          parte técnica tengo el agrado de presentar a ustedes este Portal Web; esperando que juntos podamos avanzar en
          su ejecución como alternativa para mejorar nuestras condiciones de vida.
        </p>
        <p class="text-justify">
          SR. MANUEL MATUTE ALVAREZ
          <br>
          PRESIDENTE DEL GAD PARROQUIAL RURAL DE SANTA ANA PERIODO 2019 - 2023
        </p>
      </div>
    </div>
  </div>
</div>

<div class="w-100 mx-auto" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-5 text-justify">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qH-GBP-hVKw" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos nobis maiores quisquam veniam
        quidem,
        fuga quos magnam quas eveniet labore possimus voluptates consectetur, minima sit. Quam amet ipsam repudiandae!
        Quas, voluptates quod reprehenderit dolores eligendi dignissimos sed error aut quibusdam magni et enim mollitia
        omnis culpa perspiciatis ratione doloribus maiores ducimus velit asperiores quo sint, distinctio minima. Minus,
        tempore.
        Reprehenderit distinctio aliquid eaque placeat ipsum, exercitationem id atque provident nesciunt adipisci
        consequuntur animi hic rerum, magnam facilis? Inventore earum incidunt rem recusandae aliquam minima odio
        expedita
        repellat magnam dolor?
        Porro, modi hic repellat quam dignissimos ratione ullam labore expedita, asperiores eum beatae necessitatibus
        error
        animi exercitationem, explicabo consectetur quisquam natus possimus consequuntur. Explicabo, voluptatibus eum.
        Reiciendis earum perferendis culpa.
        Temporibus voluptas totam quod ipsam quos earum corporis ullam veniam nesciunt corrupti accusamus tempore sint
        debitis eveniet itaque non natus cumque nihil perferendis necessitatibus pariatur ea, hic magnam aperiam! Cum!
      </div>
      <div class="col-md-6 p-5 text-justify">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ABeqAG-OiTU" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae fugiat aspernatur veritatis, laboriosam qui
        atque maxime et doloribus soluta ipsum inventore veniam nostrum id, officiis magni. Eius eos vitae distinctio!
        Architecto ea optio esse fugiat dicta, recusandae natus accusantium asperiores sed, pariatur deleniti! Sapiente
        illo
        vero rem dicta eius illum perspiciatis maiores numquam animi, veritatis in obcaecati ipsa quia earum.
        Ad a repellat magnam! Obcaecati, beatae? Repellendus amet distinctio corrupti ab, sequi magni reprehenderit in,
        aliquid beatae nam quae iste, aut explicabo deserunt. Repellendus tempore natus laborum iste facere vero!
        Aliquid doloremque repellat architecto amet consectetur voluptates adipisci excepturi delectus error saepe?
        Debitis
        quam aut veritatis ad odit ipsam cumque quaerat! Aspernatur cupiditate totam veritatis laudantium itaque.
        Voluptatibus, sit rerum?
        Blanditiis doloremque deserunt delectus harum commodi perspiciatis corporis a, sed itaque dolores porro eligendi
        possimus deleniti eum rerum ea beatae nihil sequi. Sapiente, repudiandae obcaecati quas non sequi consectetur
        repellat?
      </div>
    </div>
  </div>
</div>
