<div class="w-100 mx-auto" data-aos="fade-right">
	<div class="col-12">
		<div class="banner">
			<img src="assets/img/banner.png" alt="Iglesia de Santa Ana" class="img-fluid mx-auto d-block">
		</div>
	</div>
</div>

<div class="container p-5" data-aos="fade-up">
	<div class="row">
		<div class="col-md-3 col-6 d-flex align-items-center justify-content-center">
			<div class="icon-info">
				<h3>3450 Km</h3>
				<span>Extensión</span>
			</div>
		</div>
		
		<div class="col-md-3 col-6 d-flex align-items-center justify-content-center">
			<div class="icon-info">
				<h3>
					<i class="fa fa-cloud"></i>
				</h3>
				<span>Clima</span>
			</div>
		</div>
		
		<div class="col-md-3 col-md-3 col-6 d-flex align-items-center justify-content-center">
			<div class="icon-info">
				<h3>1901</h3>
				<span>Año de fundación</span>
			</div>
		</div>
		
		<div class="col-md-3 col-md-3 col-6 d-flex align-items-center justify-content-center">
			<div class="icon-info">
				<h3>4950</h3>
				<span>Población</span>
			</div>
		</div>
	</div>
</div>

<div class="w-100 p-5" id="welcome" data-aos="fade-up">
	<h3 class="text-center">
		Bienvenido a la parroquia Santa Ana
	</h3>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3 text-center">
				<img src="assets/img/alcalde.png" alt="Sr. Alcalde" class="img-fluid">
			</div>
			<div class="col-xs-12 col-md-9">
				<p class="text-justify">
					En estos nuevos tiempos exigen nuevas formas de comunicar, ponemos a consideración de todos; nuestra página
					web para la publicación de sitios de turismo que ofrece la parroquia de Santa Ana y el Gobierno Parroquial, en
					un proceso participativo a través del cual se ha estudiado y descifrado nuestra realidad actual para luego
					trazar el rumbo que debemos seguir en procura de alcanzar los grandes objetivos que definen nuestras
					aspiraciones de desarrollo.
				</p>
				<p class="text-justify">
					Después de haber concluido exitosamente el proceso de planificación y luego de contar con la validación con la
					parte técnica tengo el agrado de presentar a ustedes este Portal Web; esperando que juntos podamos avanzar en
					su ejecución como alternativa para mejorar nuestras condiciones de vida.
				</p>
				<p class="text-justify">
					SR. MANUEL MATUTE ALVAREZ
					<br>
					PRESIDENTE DEL GAD PARROQUIAL RURAL DE SANTA ANA PERIODO 2019 - 2023
				</p>
			</div>
		</div>
	</div>
</div>

<div class="w-100 mx-auto" data-aos="fade-up">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 p-5">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/qH-GBP-hVKw" title="YouTube video player"
				        frameborder="0"
				        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				        allowfullscreen></iframe>
				<p class="text-justify">
					El Gobierno Autónomo Descentralizado se constituye en el organismo rector para mejorar la calidad de vida de
					sus
					habitantes y contribuir al desarrollo de todas las organizaciones e instituciones parroquiales, fortaleciendo
					los niveles de participación en temas como vialidad, seguridad, emprendimientos laborales, infraestructura,
					protección del medio ambiente, equidad de género, atención a grupos vulnerables para crear una sociedad más
					justa y solidaria.
				</p>
				<p class="text-justify">
					Dichos sistemas establecen un objetivo específico, y las estrategias a desarrollarse para conseguir el
					cumplimiento de este, y así engrandecer y mejorar la calidad de vida de los habitantes de la parroquia.
				</p>
			</div>
			<div class="col-md-6 p-5">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/ABeqAG-OiTU" title="YouTube video player"
				        frameborder="0"
				        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				        allowfullscreen></iframe>
				<p class="text-justify">
					La Parroquia de Santa Ana tiene gran diversidad turística con grandes paisajes y zonas con alto valor
					turístico,
					además de su riqueza cultural, arquitectura y expresiones religiosas, es este sentido la visión se basa en el
					fortalecimiento de las actividades productivas vinculadas a la cohesión social y al aprovechamiento de los
					espacios públicos, promoviendo la explotación sustentable del turismo, a través del fomento de la actividades
					productivas, mejoramiento de la infraestructura vial, potencialización de los espacios recreativos y
					turísticos,
					siempre con una conciencia en conservación del medio ambiente a través de la implementación del de políticas y
					proyectos ambientales.
				</p>
			</div>
		</div>
	</div>
</div>
