<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #D9D9D9 !important;">
  <a class="navbar-brand" href="javascript:void(0)" routerLink="home">
    <img src="assets/img/gad-santa-ana.png" alt="Gad Santa Ana" width="218" height="84">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngFor="let menu of menus">
        <a class="nav-link" [routerLink]="menu.url">{{menu.nombre}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0" (ngSubmit)="handleSubmit($event)">
      <input class="form-control"
             type="text"
             name="msg"
             placeholder="Buscar"
             aria-label="Buscar"
             [(ngModel)]="msg"
             (keyup)="handleKeyUp($event)">
    </form>
  </div>
</nav>
