<div class="w-100 mx-auto" data-aos="fade-right">
  <div class="banner">
    <img src="assets/img/proyectos-banner.png" alt="Grupo de niños y adolescentes de Santa Ana"
         class="img-fluid mx-auto d-block">
  </div>
</div>

<div class="w-100 p-5" data-aos="fade-up">
  <h3 class="titulo">Proyectos</h3>
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam cursus
    nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis nisi. Nulla
    facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin sit amet ligula
    ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida at non urna. Nam
    commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at ornare elit.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam cursus
    nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis nisi. Nulla
    facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin sit amet ligula
    ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida at non urna. Nam
    commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at ornare elit.
  </p>
</div>

<div class="w-100 mx-auto text-center pt-5" style="background: #BDD2B6;" data-aos="fade-up">
  <h3>Mapa de Proyectos</h3>
  <p-tabView styleClass="tabview-custom" (onChange)="searchSelected($event)">
    <p-tabPanel header="2019">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/banner-proyectos.png" alt="Banner proyectos" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-5">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam
            cursus nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis
            nisi. Nulla facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin
            sit amet ligula ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida
            at non urna. Nam commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at
            ornare elit.
          </p>
        </div>
      </div>

      <div class="w-100 mx-auto">
        <p-carousel [value]="proyectos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-proyecto pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                </div>
                <div>
                  <img [src]="proyecto.banner" alt="Banner" class="img-fluid" data-toggle="modal"
                       data-target="#proyectoModal" style="max-height: 300px"
                       (click)="selectedProyecto = proyecto">
                  <h6 class="p-mt-0 p-mb-3">{{proyecto.nombre}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </p-tabPanel>
    <p-tabPanel header="2020">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/banner-proyectos.png" alt="Banner proyectos" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-5">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam
            cursus nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis
            nisi. Nulla facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin
            sit amet ligula ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida
            at non urna. Nam commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at
            ornare elit.
          </p>
        </div>
      </div>

      <div class="w-100 mx-auto">
        <p-carousel [value]="proyectos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-proyecto pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                </div>
                <div>
                  <img [src]="proyecto.banner" alt="Banner" class="img-fluid" data-toggle="modal"
                       data-target="#proyectoModal" style="max-height: 300px"
                       (click)="selectedProyecto = proyecto">
                  <h6 class="p-mt-0 p-mb-3">{{proyecto.nombre}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </p-tabPanel>
    <p-tabPanel header="2021">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/banner-proyectos.png" alt="Banner proyectos" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-5">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam
            cursus nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis
            nisi. Nulla facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin
            sit amet ligula ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida
            at non urna. Nam commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at
            ornare elit.
          </p>
        </div>
      </div>

      <div class="w-100 mx-auto">
        <p-carousel [value]="proyectos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-proyecto pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                </div>
                <div>
                  <img [src]="proyecto.banner" alt="Banner" class="img-fluid" data-toggle="modal"
                       data-target="#proyectoModal" style="max-height: 300px"
                       (click)="selectedProyecto = proyecto">
                  <h6 class="p-mt-0 p-mb-3">{{proyecto.nombre}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </p-tabPanel>
    <p-tabPanel header="2022">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/banner-proyectos.png" alt="Banner proyectos" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-5">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam
            cursus nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis
            nisi. Nulla facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin
            sit amet ligula ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida
            at non urna. Nam commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at
            ornare elit.
          </p>
        </div>
      </div>

      <div class="w-100 mx-auto">
        <p-carousel [value]="proyectos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-proyecto pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                </div>
                <div>
                  <img [src]="proyecto.banner" alt="Banner" class="img-fluid" data-toggle="modal"
                       data-target="#proyectoModal" style="max-height: 300px"
                       (click)="selectedProyecto = proyecto">
                  <h6 class="p-mt-0 p-mb-3">{{proyecto.nombre}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </p-tabPanel>
    <p-tabPanel header="2023">
      <div class="row">
        <div class="col-12">
          <img src="assets/img/banner-proyectos.png" alt="Banner proyectos" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 p-5">
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus vel libero iaculis varius. Aliquam
            cursus nec felis sed vehicula. Nullam hendrerit lobortis ligula, quis efficitur eros. Donec vel lobortis
            nisi. Nulla facilisis ac metus sit amet fringilla. Morbi porttitor sagittis neque, quis laoreet quam. Proin
            sit amet ligula ornare, scelerisque ex et, consectetur felis. Nulla sit amet justo vel metus viverra gravida
            at non urna. Nam commodo finibus tortor, vitae luctus nibh tempor ac. Sed a interdum tellus. Praesent at
            ornare elit.
          </p>
        </div>
      </div>

      <div class="w-100 mx-auto">
        <p-carousel [value]="proyectos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-proyecto pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="p-mb-3">
                </div>
                <div>
                  <img [src]="proyecto.banner" alt="Banner" class="img-fluid" data-toggle="modal"
                       data-target="#proyectoModal" style="max-height: 300px"
                       (click)="selectedProyecto = proyecto">
                  <h6 class="p-mt-0 p-mb-3">{{proyecto.nombre}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </p-tabPanel>
  </p-tabView>
</div>

<!-- Modal -->
<div class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="proyectoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedProyecto">
      <div class="modal-header">
        <h5 class="modal-title" id="proyectoModalLabel">Proyecto {{selectedProyecto.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{selectedProyecto.descripcion}}</p>
      </div>
    </div>
  </div>
</div>
