<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      {{isEdit ? 'Editar' : 'Nuevo'}} Emprendimiento
    </h4>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="saveForm()">
    <div class="card-body">
      <div class="form-group" disabled style="display: none">
        <label for="id">Id:</label>
        <input type="text" class="form-control"
               id="id"
               placeholder="Ingresa tu id"
               formControlName="id">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control"
               id="nombre"
               placeholder="Nombre del emprendimiento"
               formControlName="nombre">
        <small class="text-danger" *ngIf="getNameControl?.touched && getNameControl?.errors?.['required']">* Este
          campo es obligatorio</small>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea class="form-control"
                  rows="5"
                  id="descripcion"
                  placeholder="Detalle una pequeña descripción"
                  formControlName="descripcion"></textarea>
        <small class="text-danger"
               *ngIf="getDescriptionControl?.touched && getDescriptionControl?.errors?.['required']">* Este
          campo es obligatorio</small>
      </div>
      <div class="form-group">
        <label for="categoria">Categoría:</label>
        <select class="custom-select custom-select-sm" id="categoria" name="categoria" formControlName="categoria">
          <option value="" disabled>-- Seleccione categoría --</option>
          <option value="Alimentos">Alimentos</option>
          <option value="Comercio">Comercio</option>
          <option value="Farmacias">Farmacias</option>
          <option value="Hosterías">Hosterías</option>
          <option value="Varios">Varios</option>
        </select>
        <small class="text-danger"
               *ngIf="getCategoriaControl?.touched && getCategoriaControl?.errors?.['required']">* Este
          campo es obligatorio</small>
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="estado" formControlName="estado">
          <label class="custom-control-label" for="estado">{{getEstadoControl!.value ? 'Activo' : 'Inactivo'}}</label>
        </div>
        <small class="text-danger"
               *ngIf="getEstadoControl?.touched && getEstadoControl?.errors?.['required']">* Este
          campo es obligatorio</small>
      </div>
      <div class="form-group">
        <label for="banner">Banner:</label>
        <!--Si tiene adjunto -->
        <ng-container *ngIf="this.empForm.get('banner')?.value != ''">
          <div class="col-sm-4 text-center">
            <img [src]="this.empForm.get('banner')?.value" alt="" class="img-fluid">
            <button class="btn-danger btn-sm" type="button"
                    (click)="removeAttached(this.empForm.get('banner')?.value)">
              <i class="fa fa-trash"></i> Eliminar
            </button>
          </div>
        </ng-container>
        <!-- Si no tiene adjunto-->
        <ng-container *ngIf="this.empForm.get('banner')?.value == ''">
          <input type="file" [multiple]="false" accept="image/*" class="form-control-file" id="banner"
                 (change)="onFileChange($event)">
          <small class="text-danger" *ngIf="getBannerControl?.touched && getBannerControl?.errors?.['required']">* Este
            campo es obligatorio</small>
        </ng-container>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-sm">
        Guardar
      </button>
    </div>
  </form>
</div>
