<footer class="w-100 py-4 flex-shrink-0 footer">
  <div class="container py-4">

    <div class="row">

      <div class="col-lg-6 col-md-6">
        <h5 class="text-white mb-3">INFORMACIÓN</h5>
        <ul class="list-unstyled">
          <li class="small text-white" routerLink="home" style="cursor:pointer;">Inicio</li>
          <li class="small text-white" routerLink="proyectos" style="cursor:pointer;">Proyectos</li>
          <li class="small text-white" routerLink="sitios-turisticos" style="cursor:pointer;">Sitios Turísticos</li>
          <li class="small text-white" routerLink="emprendimientos" style="cursor:pointer;">Emprendimientos</li>
          <li class="small text-white" routerLink="contactanos" style="cursor:pointer;">Contáctanos</li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 text-center">
        <h5 class="text-white mb-3">CONTÁCTENOS</h5>
        <ul class="footer-social p-0">
          <li>
            <a href="https://youtube.com" target="_blank">
              <span class="fa fa-youtube"></span>
            </a>
          </li>
          <li>
	          <a href="https://www.facebook.com/profile.php?id=100066400544162" target="_blank">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li>
	          <a href="https://twitter.com/gad_santa" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
        </ul>
        <p class="text-white mb-0">
          <a href="mailto:elcorreoquequieres@correo.com">aeloja@cuenca.gob.ec</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <!--<p class="small text-white mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>-->
        <p class="small text-white mb-0">
          &copy; {{year}} UTPL All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
