<div class="card">
  <div class="card-header">
    <h4 class="card-title">Emprendimientos</h4>
  </div>
  <div class="card-body">
    <div class="py-2">
      <button class="btn btn-success btn-sm" [routerLink]="['create']">
        <i class="fa fa-plus"></i> Agregar emprendimiento
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Categoría</th>
          <th scope="col">Estado</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of emprendimientos">
          <th scope="row">{{emp.id}}</th>
          <td>{{emp.nombre}}</td>
          <td>{{emp.descripcion | slice:0:252}}...</td>
          <td>{{emp.categoria}}</td>
          <td class="text-center">
            <i class="fa" [ngClass]="{'fa-check text-success': emp.estado, 'fa-times text-danger': !emp.estado}"></i>
          </td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm" [routerLink]="['edit', emp.id]">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
