@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;1,200;1,300&display=swap');
/* You can add global styles to this file, and also import other style files */
$footer-color: #798777;
$title-color: #3A5680;

footer {
  background: $footer-color;
}

.titulo {
  color: $title-color;
  font-family: 'Raleway', serif;
}


.product-item {

  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}
